@charset "utf-8";

/********** css responsive init**********/
body{font-family: 'Nanum Gothic', sans-serif;}
html,body{height: 100%;}
.container{width: 1240px; margin: 0 auto;}

/* header */

#header{width: 100%; position: fixed; background: #fff; z-index: 1;}
.navbarWrap {
    display: flex;
}
.navbarWrap img{
   height: 50px;
    padding: 10px;
}
.navbar{
    margin-left: auto;
  
}
.navbar>ul{display: flex; height: 100%;}
.navbar>ul>li{position: relative;}
.navbar>ul>li>a{
    padding: 20px 30px;
    display: flex; justify-content: center;align-items: center;
    font-weight: bold;
}


.navbar>ul>li .submenu{
    display:none;
    padding: 5px;
    
}
.navbar>ul>li:hover a{ }

.navbar>ul>li:hover .submenu{
    display: block;
    height: 200px;
}

/* submenu */

.navbar .submenuWrap{
    position: absolute;
    width: 100%;
}
.submenuWrap>ul>li{padding: 10px;}

.navbar .submenu>li{
    display: block;
    align-items: center; line-height: 20px;
    font-size: 15px; font-weight: bold;
    width: 200px;
}

.navbar:hover .submenuWrap{
    display: block; 
}
.navbarClone,.overlay{display: none;}



.bg{width: 100%; height: 250px;background:#F6F6F6;}


/* toggle */
.toggle{
    width: 40px;height: 40px;
    background: white;
    justify-content: center; align-items: center;
    display: none;
}
.toggle div{
    position: absolute;
    width: 25px; height: 3px; background: #333;
    border-radius: 5px;
}
.toggle .bar1{ transform: translateY(-8px);}
.toggle .bar3{ transform: translateY(8px);}


/* visual */
.visualWrap{
    width: 100%; height: 900px;
    background-image: url(../images/box_img01.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 20px;
}
.txtWrap{
   width: 1240px;
   top: 30%; left: 15%;
   position: relative;
}
.txtWrap h1{ font-size: 70px; margin-bottom: 20px;}
.txtWrap p{ font-size: 40px; margin-bottom: 50px;}
.txtWrap div{
    width: 290px;height: 60px;
    border: 1px solid #678788;
    border-radius: 50px;
    display: flex; justify-content: center; align-items: center;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 5px;
    transition: .3s;
}
.txtWrap div:hover{background: rgba(0, 0, 0, .3)}
.visualWrap img{ 
    position: absolute;
}
.mlogo, .mVisual{display:none;}

.ice01{
    width: 400px; height: 300px;
    left: calc(35%); top: calc(40%);
    animation: ice01 1s forwards ;
    animation-delay: .5s;
  
}
.ice02{
    width: 300px;height: 300px;
    left: calc(60%); top: calc(15%);
    animation: ice01 1s forwards ;
    animation-delay: .8s;
}
.ice03{
    width: 350px;height: 300px;
    left: calc(60%); top: calc(60%);
    animation: ice01 1s forwards ;
    animation-delay: 1s;
}
@keyframes ice01 {
    0%{transform: translateY(-300px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}


/* contents */
.contents{width: 1260px;}
.contents>ul{
    display: flex; flex-wrap: wrap;
    position: relative;
}
.contents>ul>li{
    height: 320px;
    background-color: skyblue;
    border: 1px solid #000;
    position: relative; order:9;
}
.contents>ul>li:nth-child(1),
.contents>ul>li:nth-child(2),
.contents>ul>li:nth-child(5),
.contents>ul>li:nth-child(6),
.contents>ul>li:nth-child(7),
.contents>ul>li:nth-child(8){
    width: 315px; height: 320px;
}
.contents>ul>li:nth-child(4){width: 315px;height: 640px;}
.contents>ul>li:nth-child(3),
.contents>ul>li:nth-child(9){
    width: 630px;height: 320px;
}
.contents>ul>li:nth-child(8),
.contents>ul>li:nth-child(9){
    position: absolute;bottom: 0;
}
.contents>ul>li:nth-child(8){right: 630px;}
.contents>ul>li:nth-child(9){right: 0;}


.contents>ul>li:nth-child(1){
    background-color: #FFF3BD;
    display: flex;
    justify-content: center;align-items: center;
}
.contents>ul>li:nth-child(1) img{width: 150px;height: 150px;}
.contents>ul>li:nth-child(1) h3{
    display: flex;justify-content: center;align-items: center;
    padding: 20px;
}

.contents>ul>li:nth-child(2){
    display: flex;justify-content: center;align-items: center;

}
.contents>ul>li:nth-child(2) .layer{}
.contents>ul>li:nth-child(2) .gLayer{
    width: 100%; height: 100%;
    position: fixed;
    justify-content: center;align-items: center;
}

/********** css responsive **********/
@media (max-width: 1399px) {
    
}

@media (max-width: 1199px) {
    
}

@media (max-width: 991px) {
    .container{width: 100%;}
    .visualWrap img{display: none;}    
}

@media (max-width: 767px) {
    .navbarWrap{ padding: 10px;}
    .navbarWrap img{height:40px;}
    .navbar{display: none;}
    .toggle{
        display: flex; margin-left: auto;
        cursor: pointer;
    }
    .navbarClone{
        display: block;
        position: fixed;
        width: 90%;height: 100%;
        top: 0; left:-100%;
        background:#F6F6F6;
        transition: 0.5s;
    }
    .overlay{
        display: none;
        position: fixed;
        width: 100%;height: 100%;
        left: 0;top: 0;
        background: #000;
        opacity: 0.5;
    }
    .logWrap{ 
        display: flex; height: 50px; padding: 10px;
        margin-bottom: 20px;
        padding: 50px;

    }
    .logWrap>a{
        margin-left: 10px;
        width:80px;
        font-size: 20px;
        font-weight: bold;
    }
    .logWrap .icon{
        margin-top: 3px;
        font-size: 15px;}
    .logWrap .xicon{
        font-size: 20px; margin-left: auto;
        cursor: pointer;
    }
    .mMenu {
        height: 100%; width: 100%;
        padding: 50px;
    }
    .mMenu>li>a{
        border-bottom: 1px solid #333;
        height: 50px;
        font-weight: bold;
        display: flex; 
        align-items: center;
    }
    .mMenu>li .submenuWrap{display: none;}
    /* .mMenu>li:hover .submenuWrap{display: block;} */
    .mMenu>li .submenuWrap{
        padding: 10px 16px;
    }
    .txtWrap{
        display:  none;
    }

    /* visual  */

    .mvisualWrap{
        width: 100%;height: 100%;
    }
    .mvisualWrap{
        height: 100%;
        position: absolute;
        justify-content: center;
        left: 35%; top: 20%;
    }
    .mvisualWrap img{
        display:block;
        margin-bottom: 50px;
        position: relative;
    }

     /* content */
     .contents>ul>li:nth-child(1),
     .contents>ul>li:nth-child(2),
     .contents>ul>li:nth-child(3),
     .contents>ul>li:nth-child(4),
     .contents>ul>li:nth-child(8),
     .contents>ul>li:nth-child(9){display: none;}

    .contents>ul>li:nth-child(5),
    .contents>ul>li:nth-child(6),
    .contents>ul>li:nth-child(7){
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
     

    
}
    


@media (max-width: 575px) {
    
}

