@charset "utf-8";

/********** css responsive init**********/
body{font-family: 'Nanum Gothic', sans-serif;}
html,body{height: 100%;}
.container{width: 1240px; margin: 0 auto;}

/* header */

#header.sub{background:#fff;}
#header{width: 100%; z-index: 1000; position: fixed; transition: .5s;}
#header.fixed{ position: fixed; background: white;}
 .navbarWrap {
    display: flex;
    position: relative;
    justify-content: space-between;
}
.navbarWrap img{
   height: 50px;
    padding: 10px;
}
.navbar{}
.navbar>ul{
    width: 760px;
    height: 100%;
    display: flex;
}
.navbar>ul>li{
    position: relative;
    width: calc( 100% / 5 );
}
.navbar>ul>li>a{
    padding: 20px 30px;
    display: flex; justify-content: center;align-items: center;
    font-weight: bold;
}
.navbar>ul>li .submenu{
    display:none;
    padding: 5px; 
}
.navbar>ul>li:hover a{ }

.navbar>ul>li:hover .submenu{
    height: 200px;
}
/* submenu */
.navbar .submenuWrap{
    position: absolute;
    width: 700px;
    height: 180px;
    left: 7px;
}
.submenuWrap>ul{}
.submenuWrap>ul>li{padding: 10px;}

.navbar .submenu{text-align: center;}

.navbar .submenu>li{
    display: block;
    align-items: center; line-height: 20px;
    font-size: 15px; font-weight: bold;
    width: calc( 100% / 5 );
}


.navbar:hover .submenuWrap{
    display: block; 
}
.navbarClone,.overlay{display: none;}



.bg{
    width: 100%; height: 200px;background:rgba(255, 255, 255, 0.7);}


/* toggle */
.toggle{
    width: 40px;height: 40px;
    background: white;
    justify-content: center; align-items: center;
    display: none;
}
.toggle div{
    position: absolute;
    width: 25px; height: 3px; background: #333;
    border-radius: 5px;
}
.toggle .bar1{ transform: translateY(-8px);}
.toggle .bar3{ transform: translateY(8px);}


/* visual */
.txtWrap{
    width: 1240px;
    top: 30%; left: 15%;
    position: relative;
 }
.visualWrap{
    width: 100%; height: 900px;
    background-image: url(../images/box_img01.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    position: relative;
}
.txtWrap h1{ font-size: 70px; margin-bottom: 20px;}
.txtWrap p{ font-size: 40px; margin-bottom: 50px;}
.txtWrap div{
    width: 290px;height: 60px;
    border: 1px solid #678788;
    border-radius: 50px;
    display: flex; justify-content: center; align-items: center;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 5px;
    transition: .3s;
}
.txtWrap div:hover{background: rgba(0, 0, 0, .3)}
.mlogo, .mVisual{display:none;}

.ice01{
    position: absolute;
    width: 400px; height: 300px;
    left: calc(30%); top: calc(40%);
    animation: ice01 1s forwards ;
    animation-delay: .5s;
  
}
.ice02{
    position: absolute;
    width: 300px;height: 300px;
    left: calc(70%); top: calc(-65%);
    animation: ice01 1s forwards ;
    animation-delay: .8s;
}
.ice03{
    position: absolute;
    width: 350px;height: 300px;
    left: calc(70%); top: calc(90%);
    animation: ice01 1s forwards ;
    animation-delay: 1s;
}
@keyframes ice01 {
    0%{transform: translateY(-300px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}


/* contents */
.contents{width: 1260px; margin-bottom: 20px;}
.contents>ul{
    display: flex; flex-wrap: wrap;
    position: relative;
}
.contents>ul>li{
    height: 320px;
    background-color: skyblue;
    position: relative; order:9;
}
.contents>ul>li:nth-child(1),
.contents>ul>li:nth-child(2),
.contents>ul>li:nth-child(5),
.contents>ul>li:nth-child(6),
.contents>ul>li:nth-child(7),
.contents>ul>li:nth-child(8){
    width: 315px; height: 320px;
}
.contents>ul>li:nth-child(4){width: 315px;height: 640px;}
.contents>ul>li:nth-child(3),
.contents>ul>li:nth-child(9){
    width: 630px;height: 320px;
}
.contents>ul>li:nth-child(8),
.contents>ul>li:nth-child(9){
    position: absolute;bottom: 0;
}
.contents>ul>li:nth-child(8){right: 630px;}
.contents>ul>li:nth-child(9){right: 0;}


.contents>ul>li:nth-child(1){
    background-color: #FFF3BD;
    display: flex;
    justify-content: center;align-items: center;
}
.contents>ul>li:nth-child(1) img{width: 150px;height: 150px;}
.contents>ul>li:nth-child(1) h3{
    display: flex;justify-content: center;align-items: center;
    padding: 20px;
}

/* modal */
.contents>ul>li:nth-child(2){
    display: flex;justify-content: center;align-items: center;

}
.layer{
    width:1200px; display: flex;
}
.layer .mlayer{_flex-grow: 1;}
.mlayer img{}
.gLayer{
    position: fixed;
    left: 0;right: 0;top: 0;bottom: 0;
    display: none;
    background: rgba(0, 0, 0, .5);
    justify-content: center;align-items: center;
    z-index: 20;
}
.overLayer{position: relative;}

.m_icon{
    position: absolute;right: 0;top:-40px;
    background: white;
    width: 40px;height: 40px;
    display: flex;justify-content: center;
    align-items: center;
    z-index: 20;
}
/* slide */
.contents .sItems{
    background-color: #F9E7D0;

}
.itemWrap .swiper-slide{
    width:100%; display: flex;
    background: #F9E7D0;
}

.sItems .sTxt,.sItems .sImg{
    width: 315px; height: 320px;
    padding: 30px; 
}
.sImg img{width:100%;height: 100%;}
.sTxt h2{margin-bottom: 10px; color: #A96D28; font-size: 35px;}
.sTxt h3{color: #664723; font-size: 16px; margin-bottom: 10px;}
.sTxt h4{font-size: 20px; margin-bottom: 15px; color: #222;}
.sTxt p{font-size: 14px; color: #333;}

.btnWrap{
    position: absolute;
    top: 50%; z-index: 10;
    width: 100%;
    padding: 0 10px;
    cursor: pointer;
}
.btnWrap i{
    font-size: 20px;
}
.ben-button-next{
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.sec01_Wrap{
    width: 100%; height: 100%;
    position: relative;
    display: flex;
    justify-content: center;align-items: center;
}
.sec01_Wrap .txt{
    position: absolute;
    padding: 20px;
}
.sec01_Wrap .txt h2{
    font-size: 30px;
    color: #002D55;
    margin-bottom: 30px;
}
.sec01_Wrap .txt p{
    font-weight: bold;
    line-height: 25px;
}

.contents>ul>li:nth-child(5){
    background: #FFA3ED;
    overflow: hidden;
    padding: 50px;
   
}
.contents>ul>li:nth-child(6){
    background: #B360A2;
    overflow: hidden;
    padding: 50px;
    font-size: 15px;
}
.contents>ul>li:nth-child(7){
    background: #69B3B0;
    overflow: hidden;
    padding: 50px;
}
.contents>ul>li:nth-child(5) h2,
.contents>ul>li:nth-child(6) h2,
.contents>ul>li:nth-child(7) h2{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.contents>ul>li:nth-child(5) img,
.contents>ul>li:nth-child(6) img,
.contents>ul>li:nth-child(7) img{transition: .5s;}
.contents>ul>li:nth-child(5) img:hover,
.contents>ul>li:nth-child(6) img:hover,
.contents>ul>li:nth-child(7) img:hover{
    transform: translateY(-45px);
   
    
}

.contents>ul>li:nth-child(8){
    display: flex; justify-content: center;align-items: center;
    background: #8DC7D1;
}
.contents>ul>li:nth-child(8) img{
    width: 150px;height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.contents>ul>li:nth-child(8) h2{
    text-align: center;
}
.contents>ul>li:nth-child(9){
    overflow: hidden;
}
.slide{position: relative;}
.slide div{position: absolute; opacity: 0;}
.slide div:nth-child(1){opacity: 1;}


/* content_2st */
.content_2st{
    width: 100%; height: 800px;
    background-image: url(../images/sec02.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px;
    margin-bottom: 20px;
}
.txTWrap{ color: #fff; text-align: center; margin-bottom: 50px;}
.txTWrap h2{
    font-size: 3.5vw;
    padding: 20px;
}
.txTWrap p{
    font-size: 1.5vw;
}
.sec02_Wrap{
    display: flex;
    justify-content: space-between; gap: 20px;
   
}
.sec02_Wrap div{
    width: 400px;height: 400px;
    background: rgba(254, 254, 254, 0.25);
    border: 1px solid #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;align-items: center;
    cursor: pointer;
    position: relative;
}
.sec02_Wrap>div img{width: 150px;height: 200px;}
.sec02_Wrap h3{
    position: absolute; bottom: 0; padding: 50px;
    color: #8B4949;
    font-size: 25px;
}

/* snsboxWrap */
.snsboxWrap{width: 1260px; height: 640px; margin-bottom: 50px;}
.snsboxWrap>ul{
    position: relative;  height: 640px;
    display: flex; flex-wrap: wrap;
}
.snsboxWrap>ul>li{
    position: relative; order: 7;
    height: 640px;
}
.snsboxWrap>ul>li:nth-child(1){width: 315px; height: 640px; background: #BEA569;}

.snsboxWrap>ul>li:nth-child(2),
.snsboxWrap>ul>li:nth-child(3),
.snsboxWrap>ul>li:nth-child(4),
.snsboxWrap>ul>li:nth-child(5),
.snsboxWrap>ul>li:nth-child(6),
.snsboxWrap>ul>li:nth-child(7){width: 315px;height: 320px;background: pink;}

.snsboxWrap>ul>li:nth-child(5),
.snsboxWrap>ul>li:nth-child(6),
.snsboxWrap>ul>li:nth-child(7){position: absolute; bottom: 0;}
.snsboxWrap>ul>li:nth-child(5){right: 630px;}
.snsboxWrap>ul>li:nth-child(6){right: 315px;}
.snsboxWrap>ul>li:nth-child(7){right: 0;}

.snsWrap{
    display: flex; justify-content: center; align-items: center;
    color: #fff;
}
.snsWrap img{width: 150px;height: 150px;}
.snsWrap h3{font-size: 25px;padding: 10px; text-align: center; font-weight: bold;}
.snsWrap p{ line-height: 25px; text-align: center; font-size:18px;}

.blind{
    width: 100; height: 100%;
    display: flex; justify-content: center; align-items: center;
    background-color: rgba(0,0,0,0.3);
    transition: .3s; opacity: 0;
}
.blind i{color: white;letter-spacing: 5px;}
.instaWrap:hover .blind{opacity: 1;}

 /* eventWrap */
.event{
    width: 1260px; height: 290px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.eventWrap{
    height: 300px;
    display: flex;
    gap: 5px;
    align-items: center;
    flex-basis: 50%;
}
.eventWrap p{
    font-weight: bold;
    font-size: 18px;
    width: 290px;height: 60px;
    display: flex;
    justify-content: center; align-items: center;
    border-radius: 30px;
    color: #333;
}
.eventWrap:hover p{
    background: rgba(0, 0, 0, 0.3);
}
.eventWrap .store{
    width: 630px;
    height: 100%;
    background: #FE7B9A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.eventWrap .store>p{background:white;}
.eventWrap h3{font-size: 30px; line-height: 50px; }
.eventWrap .store h3{
    color: white; 
    text-align: center;
    margin-bottom: 20px;
}
.eventWrap .store p:hover{cursor: pointer;}
.eventWrap .delievery{
    display: flex; width:630px; height: 100%;
    flex-direction: row;
    border: 1px solid #999;
    padding: 20px;
    border-radius: 10px;
}
.eventWrap .delievery p{background-color:#FE7B9A;color: white;}
.delievery img{
    width: 150px;height: 150px;
    margin: 35px;
}
.delievery .deTxt{
    text-align: center;  
    color: #333;margin-top: 20px;
}
.delievery .deTxt h4{margin-bottom: 20px;}
.delievery .deTxt p:hover{cursor: pointer;}

/* footer */
.footer{ width: 100%; background-color:#F6F6F6;}
.footerWrap{height: 100%;}
.ftTop img{width: 100px;height: 40px;}
.ftTop{
    display: flex;
    justify-content: center; align-items: center;
}
.ftTop a{padding: 20px; height: 100%; font-weight: bold; margin-right: auto;}

.ftbottom{display: flex;justify-content: center;margin-bottom: 20px;}
.ftadd p{ text-align: center; font-size: 15px; line-height: 20px;}


/* subpage */
.subvisualWrap{
    height: 750px; 
    display: flex;justify-content: center;align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.subvisualWrap .subtxtWrap{width: 1240px;
   top: 0; left: 0;
   color: white;
}
.subtxtWrap h1{font-size: 70px; margin-bottom: 20px;}
.subtxtWrap p{ font-size: 30px; margin-bottom: 50px;}
.subMenu .tab{display: flex;}
.subMenu{position: relative;
   top: -5%; 
}

.tab li {
    flex: 1 1 25%;
    height: 50px; display: flex;
    justify-content: center; align-items: center;
    background: white;
    cursor: pointer;
    font-weight: bold;
}
.tab li.active{background: #ECEDEA;}
.content{width: 1240px;position: relative;display: flex;width: 100%;}
.content p{position: absolute; right: 0; padding: 10px;font-weight: bold;}
.content img{width: 100%;}
.content div{display: none;}
.content div:nth-child(1){display: block;}


/********** css responsive **********/
@media (max-width: 1399px) {
    
}

@media (max-width: 1199px) {
    
}

@media (max-width: 991px) {
    .container{width: 100%;}
    .visualWrap img{display: none;}    
}

@media (max-width: 767px) {
    .navbarWrap{ padding: 10px;}
    .navbarWrap img{height:40px;}
    .navbar{display: none;}
    .toggle{
        display: flex; margin-left: auto;
        cursor: pointer;
    }
    .navbarClone{
        display: block;
        position: fixed;
        width: 90%;height: 100%;
        top: 0; left:-100%;
        background:#F6F6F6;
        transition: 0.5s;
    }
    .overlay{
        display: none;
        position: fixed;
        width: 100%;height: 100%;
        left: 0;top: 0;
        background: #000;
        opacity: 0.5;
    }
    .logWrap{ 
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        padding: 50px;
        position: relative;
    }
    .logWrap>a{
        margin-left: 10px;
        width:80px;
        font-size: 20px;
        font-weight: bold;
    }
    .logWrap .icon{
        margin-top: 3px;
        font-size: 15px;
    }
    .logWrap .xicon{
        font-size: 20px;
        cursor: pointer;
        position: absolute;
        right: 0;
        margin-right: 50px;
    }
    .mMenu {
        height: 100%; width: 100%;
        padding: 50px;
    }
    .mMenu>li>a{
        border-bottom: 1px solid #333;
        height: 50px;
        font-weight: bold;
        display: flex; 
        align-items: center;
    }
    .mMenu>li .submenuWrap{display: none;}
    /* .mMenu>li:hover .submenuWrap{display: block;} */
    .mMenu>li .submenuWrap{
        padding: 10px 16px;
    }
    .txtWrap{
        display:  none;
    }

    /* visual  */
    .visualWrap{
        width: 100%;height: 100%;
    }

    .mvisualWrap{
        width: 100%;height: 100vh;
        display: flex; flex-direction: column; align-items: center;
        justify-content: center; gap: 50px;
    }
    .mvisualWrap img{
        display:block;
    }

     /* content */
     .contents {display: flex; justify-content: center; align-items: center;}
     .contents>ul{
        flex-direction: column;
    }
     .contents>ul>li:nth-child(1),
     .contents>ul>li:nth-child(2),
     .contents>ul>li:nth-child(3),
     .contents>ul>li:nth-child(4),
     .contents>ul>li:nth-child(8),
     .contents>ul>li:nth-child(9){display: none;}

    .contents>ul>li:nth-child(5),
    .contents>ul>li:nth-child(6),
    .contents>ul>li:nth-child(7){
        display: block;
        margin-bottom: 20px;
    }

     /* content_2st */
     .content_2st{
        width: 100%; height: 1500px;
        position: relative;
    }
     .txTWrap p{display: none;}
     .sec02_Wrap{
        display: flex; flex-direction: column; 
        justify-content: center; align-items: center;
    
    }
     .sec02_Wrap>div{
        width: 350px;height: 100%;

     }
     
     .snsboxWrap{display: none;}

     /* event */
     .event{width: 100%;height: 500px;}
     .eventWrap{ 
        width: 100%;height: 100%;
        display: flex;
        flex-direction: column; 
    }
    .eventWrap h3,h4, .eventWrap img{display: none;}
    .eventWrap .store{
        width: 400px;height: 250px;
        margin-bottom: 10px;padding: 20px;
        border-radius: 50px;
    }
    .eventWrap .delievery{ 
        width: 400px;height: 250px;
        display: flex; justify-content: center; align-items: center;
        border-radius: 50px;
    }

     /* footer */
     .footer{height: 500px;}
     .footerWrap{height: 100%;}
     .ftTop{flex-direction: column;}
     .ftTop a{display: block;width: 100%; display: flex;justify-content: center; align-items: center; margin-bottom: 20px;}
     .ftbottom,.ftadd{display: none;}

     .subtxtWrap h1{margin-left: 20%;}
     .subtxtWrap p{display: none;}


}

@media (max-width: 575px) {
    
}

