body {
  font-family: "Questrial", sans-serif;
}

html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a:link, a:visited {
  text-decoration: none;
  color: #333;
}

.navTop {
  position: fixed;
  z-index: 1;
  width: 100%;
  background: #fff;
  display: flex;
}
.navTop .navWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navTop .menuWrap {
  margin: 0 auto;
}
.navTop .menuWrap ul {
  display: flex;
  height: 100%;
  margin-bottom: 0;
}
.navTop .menuWrap li a {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  font-weight: bold;
}
.navTop .menuWrap li a:hover {
  color: #D42470;
}

.page1 .wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.page1 .wrap #bgVideo {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0 !important;
}
.page1 .wrap .txtWrap {
  position: absolute;
  top: 35%;
  z-index: 1;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.page1 .wrap .txtWrap h3 {
  font-size: 24px;
}
.page1 .wrap .txtWrap h1 {
  font-size: 80px;
}

.page2 .wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.page2 .wrap .txtWrap {
  position: absolute;
  top: 100px;
}
.page2 .wrap .txtWrap h4 {
  font-size: 15px;
  margin-top: 15px;
}
.page2 .wrap .imgWrap {
  position: relative;
  width: 1000px;
  height: 680px;
  top: 100px;
  background-image: url(../images/friends.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page2 .wrap .imgWrap .v1st {
  position: absolute;
  opacity: 0;
  transform: translate(-301px, -173px);
  transition: 0.3s;
}
.page2 .wrap .imgWrap .v1st:hover {
  opacity: 1;
}
.page2 .wrap .imgWrap .v2st {
  position: absolute;
  opacity: 0;
  transform: translate(-100px, -173px);
  transition: 0.3s;
}
.page2 .wrap .imgWrap .v2st:hover {
  opacity: 1;
}
.page2 .wrap .imgWrap .v3st {
  position: absolute;
  opacity: 0;
  transform: translate(96px, -173px);
  transition: 0.3s;
}
.page2 .wrap .imgWrap .v3st:hover {
  opacity: 1;
}
.page2 .wrap .imgWrap .v4st {
  position: absolute;
  opacity: 0;
  transform: translate(305px, -173px);
  transition: 0.3s;
}
.page2 .wrap .imgWrap .v4st:hover {
  opacity: 1;
}
.page2 .wrap .imgWrap .v5st {
  position: absolute;
  opacity: 0;
  transform: translate(-199px, -3px);
  transition: 0.3s;
}
.page2 .wrap .imgWrap .v5st:hover {
  opacity: 1;
}
.page2 .wrap .imgWrap .v6st {
  position: absolute;
  opacity: 0;
  transform: translate(0px, -3px);
  transition: 0.3s;
}
.page2 .wrap .imgWrap .v6st:hover {
  opacity: 1;
}
.page2 .wrap .imgWrap .v7st {
  position: absolute;
  opacity: 0;
  transform: translate(202px, -3px);
  transition: 0.3s;
}
.page2 .wrap .imgWrap .v7st:hover {
  opacity: 1;
}
.page2 .wrap .imgWrap .v8st {
  position: absolute;
  opacity: 0;
  transform: translate(-301px, 175px);
  transition: 0.3s;
}
.page2 .wrap .imgWrap .v8st:hover {
  opacity: 1;
}
.page2 .wrap .imgWrap .v9st {
  position: absolute;
  opacity: 0;
  transform: translate(-97px, 175px);
  transition: 0.3s;
}
.page2 .wrap .imgWrap .v9st:hover {
  opacity: 1;
}
.page2 .wrap .imgWrap .v10st {
  position: absolute;
  opacity: 0;
  transform: translate(100px, 175px);
  transition: 0.3s;
}
.page2 .wrap .imgWrap .v10st:hover {
  opacity: 1;
}
.page2 .wrap .imgWrap .v11st {
  position: absolute;
  opacity: 0;
  transform: translate(302px, 175px);
  transition: 0.3s;
}
.page2 .wrap .imgWrap .v11st:hover {
  opacity: 1;
}

.page3 .wrap {
  height: 800px;
}
.page3 .wrap .item {
  height: 510px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page4 {
  margin-top: 50px;
  display: flex;
  color: #757575;
}
.page4 h2 {
  font-size: 3em;
}
.page4 h3 {
  font-size: 2em;
}
.page4 .wrap {
  justify-content: center;
  align-items: center;
}
.page4 .wrap .newsWrap {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */