$shadow1: 0 0 10px rgba(0, 0, 0, 0.5);

body {
    font-family: 'Questrial', sans-serif;
}

html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: #333;
}



.navTop {
    position: fixed;
    z-index: 1;
    width: 100%;
    background: #fff;
    display: flex;

    .navWrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuWrap {
        margin-left: auto;

        ul {
            display: flex;
            height: 100%;
            margin-bottom: 0;
        }

        li {
            a {
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3em;
                font-weight: bold;

                &:hover {
                    color: #D42470;
                }
            }
        }

    }

}



.page1 {
    .wrap {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        #bgVideo {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0 !important;
        }

        .txtWrap {
            position: absolute;
            top: 35%;
            z-index: 1;
            color: #fff;
            text-shadow: $shadow1;

            h3 {
                font-size: 24px;
            }

            h1 {
                font-size: 80px;
            }
        }

    }
}

.page2 {
    .wrap {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .txtWrap {
            position: absolute;
            top: 100px;

            h4 {
                font-size: 15px;
                margin-top: 15px;
            }
        }

        .imgWrap {
            position: relative;
            width: 1000px;
            height: 680px;
            top: 100px;
            background-image: url(../images/friends.png);
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            .v1st {
                position: absolute;
                opacity: 0;
                transform: translate(-301px, -173px);
                transition: 0.3s;

                &:hover {
                    opacity: 1;
                }
            }

            .v2st {
                position: absolute;
                opacity: 0;
                transform: translate(-100px, -173px);
                transition: 0.3s;

                &:hover {
                    opacity: 1;
                }
            }

            .v3st {
                position: absolute;
                opacity: 0;
                transform: translate(96px, -173px);
                transition: 0.3s;

                &:hover {
                    opacity: 1;
                }
            }

            .v4st {
                position: absolute;
                opacity: 0;
                transform: translate(305px, -173px);
                transition: 0.3s;

                &:hover {
                    opacity: 1;
                }
            }

            .v5st {
                position: absolute;
                opacity: 0;
                transform: translate(-199px, -3px);
                transition: 0.3s;

                &:hover {
                    opacity: 1;
                }
            }

            .v6st {
                position: absolute;
                opacity: 0;
                transform: translate(0px, -3px);
                transition: 0.3s;

                &:hover {
                    opacity: 1;
                }
            }

            .v7st {
                position: absolute;
                opacity: 0;
                transform: translate(202px, -3px);
                transition: 0.3s;

                &:hover {
                    opacity: 1;
                }
            }

            .v8st {
                position: absolute;
                opacity: 0;
                transform: translate(-301px, 175px);
                transition: 0.3s;

                &:hover {
                    opacity: 1;
                }
            }

            .v9st {
                position: absolute;
                opacity: 0;
                transform: translate(-97px, 175px);
                transition: 0.3s;

                &:hover {
                    opacity: 1;
                }
            }

            .v10st {
                position: absolute;
                opacity: 0;
                transform: translate(100px, 175px);
                transition: 0.3s;

                &:hover {
                    opacity: 1;
                }
            }

            .v11st {
                position: absolute;
                opacity: 0;
                transform: translate(302px, 175px);
                transition: 0.3s;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.page3 {
    .wrap {
        height: 800px;
        .item {
            height: 510px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

    }
}

.page4 {
    display: flex;

    .wrap {
        width: 100%;height: 100vh;
        justify-content: center;
        align-items: center;
        color: #757575;

        h2 {
            font-size: 3em;
        }

        h3 {
            font-size: 2em;
        }

        .newsWrap {
            width: 100%;
            height: 300px;

            #nsVideo {
                position: relative;
                width: 100%;height: 100%;
                object-fit: cover;
                z-index: 0 !important;
            }
        }
    }
}

.page5{
    color: #fff;
    .ftWrap{
        display: flex;
        a{
            font-size: 1.5em;;
            color: #fff;
        }
        span{
            display: flex; align-self: center;
            width: 2px;height: 20px;
            background: #fff;
            margin: 0 10px;

        }
    }
    .icWrap{
        display: flex;
        a{
            color: #fff;
            font-size: 2em;
            margin-right: 10px;
        }
    }
}

/********** css responsive **********/
@media (max-width: 1399px) {
    
}

@media (max-width: 1199px) {
    
}
@media (max-width: 767px) {
    .navTop{
        .menuWrap{
            ul{padding: 0;}
        }
    }
    .page2{
        .wrap{
            width: 100%;
            .v1st, .v4st, .v8st, .v11st {display: none;
            }
            .v5st {
                position: absolute;
                opacity: 0;
                transform: translate(-199px, -3px);
                transition: 0.3s;

                &:hover {
                    opacity: 1;
                    overflow: hidden;
                }
            }

        }
       
    }
    .page4{
        .wrap{
            margin-top: 50px;
            h2{
                font-size: 1.2em;
                text-align: center;}
            h3{display: none;}
            .newsWrap{  
                width: 100%;
                gap: 10px;
                .n1st{
                    order: 2;
                    width: 100%;height: 100%;
                }
                .n5st{
                    order: 1;
                    width: 100%;height: 100%;}
                .n2st,.n3st,.n4st,.n6st,.n7st,.n8st{display: none;}
            }
        }
    }
    .page5{
        .ftWrap{
            a{font-size: 1em;}
        }
    }
}
@media (max-width: 575px) {

    
}